.private-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.private-nav {
  position: sticky;
  bottom: 0;
  background-color: $main-color;
  display: inline-block;
}

.private_todo-plus-button {
  position: absolute;
  top: -6rem;
  right: 4rem;
}

.private_nav_ui {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
}

.private_nav-content_list-item {
  margin: 0 1rem;
}

.private_nav-content_list-item-link {
  color: #fff;
  text-decoration: none;
}